#image1{
  padding-left: 80px;
  padding-top: 80px;
  position: absolute;
}

#image2{
  padding-left: 350px;
  padding-top: 20px;
  position: absolute;
}

#image3{
  padding-left: 220px;
  padding-top: 150px;
  position: absolute;
}

#image4{
  padding-left: 150px;
  padding-top: 280px;
  position: absolute;
}

#image5{
  padding-left: 400px;
  padding-top: 200px;
  position: absolute;
}

#image6{
  padding-left: 380px;
  padding-top: 350px;
  position: absolute;
}

#image7{
  padding-left: 700px;
  padding-top: 150px;
  position: absolute;
}

#anchor1{
  padding-left: 700px;
  padding-top: 250px;
  position: absolute;
  display: inline-block;
}

#anchor1{
  padding-left: 700px;
  padding-top: 300px;
  position: absolute;
  display: inline-block;
}

#image8{
  padding-left: 950px;
  padding-top: 20px;
  position: absolute;
}


#image9{
  padding-left: 1300px;
  padding-top: 20px;
  position: absolute;
}

#image10{
  padding-left: 1100px;
  padding-top: 180px;
  position: absolute;
}


#image11{
  padding-left: 1200px;
  padding-top: 350px;
  position: absolute;
}

#image12{
  padding-left: 1400px;
  padding-top: 270px;
  position: absolute;
}
